body {
    margin: 0px;
    padding: 0px;
    background: url('training.jpeg');
    color: white;
    font-family: 'Shantell Sans', cursive;

    /* height: 5500px; */
}

.left {
    position: absolute;
    left: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid red; */
}

.left img {
    display: block;
    padding: 10px;
    width: 75px;
    margin: auto;
}

.left div {
    text-align: center;
    font-size: 20px;
    line-height: 19px;
}

.mid {
    /* border: 2px solid red; */
    display: block;
    width: 46%;
    margin: 20px auto;

}

.right {
    position: absolute;
    right: 34px;
    top: 32px;
    display: inline-block;
    /* border: 2px solid red; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 20px;
}

.navbar li a:hover,
.navbar li a.active {
    color: gray;
    text-decoration: underline;
    padding: 34px 20px;
}

.btn {
    font-family: 'Shantell Sans', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(89, 94, 98);
}

.container {
    display: block;
    /* border: 2px solid whitesmoke; */
    /* margin: 95px 54px; */
    margin: 95px auto;
    padding: 75px;
    width: 35%;
    border-radius: 11px;
}

.form-group input {
    text-align: center;
    display: block;
    width: 375px;
    padding: 4px;
    border: 2px solid white;
    font-family: 'Shantell Sans', cursive;
    font-size: 16px;
    border-radius: 7px;
    margin: 14px auto;
}
.container h2{
    text-align: center;
}
.container button{
    display: block;
    width: 23%;
    margin: auto;
}